body {
	margin: 0;
	padding: 0;
	font-family: "Comfortaa", cursive;
	background: linear-gradient(90deg, rgba(2, 17, 17, 1) 0%, rgba(9, 111, 121, 1) 0%, rgba(239, 107, 255, 1) 0%, rgba(255, 242, 89, 1) 100%);
}

button {
	cursor: pointer;
}
